* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(25, 25, 25);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 15px;
    text-decoration: underline;
}

.emoji {
    width: 150px;
    height: 150px;
    background: transparent;
    border-radius: 50%;
    font-size: 80px;
    cursor: pointer;
    margin: 15px;
    padding: 10px;
    border: 1px solid #fff;
    transition: 0.3ms ease-in-out;
}

.emoji:hover {
    transform: scale(1.1);
}

.content {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    line-height: 50px;
    font-weight: bold;
}

.result {
    font-size: 30px;
    margin: 10px;
}

.moves {
    font-size: 25px;
}

.reset-score-btn {
    background: rgb(243, 243, 68, 0.8);
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px;
}